.main__title{
    font-size: 0.9rem;
    margin:  25px 0;
}
.main__tasksList{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.main__taskItem{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    
}
.main__taskName{
    padding: 10px;
    flex: 1;
    overflow-x: auto;
}
.main__taskBtn{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}